/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 40px;
    border:none;
}

/* special styles */
.orange-text {
    color: #FF5400;
}


/* header styles */

.header-section {}

.nav-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 60px;
    height: 50px;
}

.logo-container h3 {
    margin-left: 10px;
    color: #131318;
    font-size: 30px;
    font-weight: 800;
}

.item-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid rgb(20, 83, 69); */
}

.item-container a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #424247;
}

#orange {
    color: #FF5400;
}
/* Explore travel section style */
.banner{
    /* max-width: 1200px;
    background-image: url(/Images/banner.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
}
.banner .banner-title{
    color: #FFF;
font-size: 64px;
font-weight: 800;
}
.banner .banner-description{
    color: #FFF;
text-align: center;
font-size: 16px;
width: 70%;
}
.banner .banner-form{
    background-color: #FFF;
    /* background: transparent; */
    width: 800px;
    height: 80px;
    m
}

/* popular tour section */
.popular-tour-section {
    max-width: 1200px;
    display: flex;
    margin: 100px auto;
    gap: 3%;
}

.popular-tour-section .text-container {
    width: 48.5%;
}

.popular-tour-section.text-container h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.popular-tour-section p{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.popular-tour-section .text-container para1 , .popular-tour-section .text-container para2{
    margin: 24px 0;
}
.popular-tour-section .img-container {
    width: 48.5%;
}

.popular-tour-section .img-container img {
    width: 100%;
    height: 100%;
}

/* footer styles */
.footer-section {
    background-color: rgba(19, 19, 24, 0.05);
    padding: 110px auto;
    padding: 80px 0;
    /* border: 2px solid brown; */

}

.footer-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid brown; */
    margin: 0 auto;
}

.footer-logo-container {
    width: 250px;
    display: flex;
    align-items: center;
}

.footer-logo-container h3 {
    margin: 15px;
}

.footer-description {
    text-align: center;
    margin: 15px auto 30px auto;
}

.footer-container .social span {
    margin-left: 15px;
    font-size: 1.5em;
}

.footer-section hr {
    background: rgba(19, 19, 24, 0.10);
    margin: 30px 17%;

}

.footer-section .copyright {
    text-align: center;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}